body{

	font-family: 'Manjari', sans-serif;
    line-height: normal;
    font-weight: 200;
    font-size: 1em;
    margin: 0;
    padding: 0;
  
}
ul{

	width: 80%;
	
	
}
ul li{

 list-style: none;
 display: inline-block;
 padding-top: 2px;
 padding-bottom: 2px;
 padding-left: 10px;
 padding-right: 10px;
  
}
ul li:hover{ 
  background-color: #0000;


}
ul li a{
  font-family: bold;
  text-decoration: none;
  color: #fff;
  font-size: 18px;

}
ul li a .active{
  background-color: #696969;
}
#footer{

	font-size: 15px;
    padding: 5px;
     
     color:#eeeeee;
     background-color: #211f22;
     text-align: left;
     align-items: baseline;
}
#postimage{

	background-color: #F3F2F7;
	padding: 5px;
}
#posttitle{
	background-color: #F3F2F7;
}
#readmore{
	float: right;
	background-color: #DAF7A6;
	margin-bottom: 3px;

}